<%- include('partials/headerNoNav') %>

  <div class="signupbutton">
    <h2>Click below to connect your instagram account</h2>

    <p class="textdesclogin">Sign in using instagram</p>
    <a class="instagramlogin" href="/auth/instagram" role="button">
      <i class="fab fa-instagram"></i>
      Log in or Sign Up with Instagram
    </a>
  </div>

<%- include('partials/footer') %>
