<%- include('partials/headerNoNav') %>

  <div class="signupbutton">
    <h2>Sign up or log in!</h2>

    <form class="" action="/login" method="post">
      <input type="email" name="username" value="">
      <input type="password" name="password" value="">
      <input type="Submit" name="submit" value="Submit">
    </form>


<%- include('partials/footer') %>
