<%- include('partials/headerNoNav') %>

  <div class="signupbutton">
    <h2>Sign up for a new account</h2>
    <p class="textdesclogin">Test desc</p>

    <form class="" action="/register" method="post">
      <input type="email" name="username" value="">
      <input type="password" name="password" value="">
      <input type="Submit" name="submit" value="Submit">
    </form>

  </div>






<%- include('partials/footer') %>
